.escala {
	top: 20px;
	position: relative;
	left: -17px;
}

.box {
	border: 2px dotted red;
}

.radioboton {
	display: flex;
	margin-top: 10px;
}

.radioboton-label {
	width: 80%;
	padding: 0px 10px;
	top: 0.5vh;
	position: relative;
}

.radio-check {
	margin-top: 5px;
}

.container.p13 {
    width: 100%;
    padding-right: 15px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
}

.escala.p13 {
    top: 20px;
    position: relative;
    left: -19px;
}
