.box {
	border: 2px dotted red;
}

.radioboton {
	display: flex;
	margin-top: 10px;
}

.radioboton-label {
	width: 80%;
	padding: 0px 10px;
	top: 0.5vh;
	position: relative;
}

.radio-check {
	margin-top: 5px;
}

.container.p13 {
	width: 100%;
	padding-right: 15px;
	padding-left: 0px;
	margin-right: auto;
	margin-left: auto;
}

.escala.p13 {
	top: 20px;
	position: relative;
	left: -19px;
}

.custom-control.escala {
	position: relative;
	min-height: 1.5rem;
	padding-left: 0rem;
}
.custom-control-inline.escala {
	display: inline-flex;
	margin-right: 0.7rem;
}
.custom-control-label.escala::before {
	position: absolute;
	top: -1.1rem;
	left: 0rem;
	display: block;
	width: 1rem;
	height: 1rem;
	pointer-events: none;
	content: '';
	background-color: #fff;
	border: #adb5bd solid 1px;
}

.custom-control-label.escala::after {
	position: absolute;
	top: -1.1rem;
	left: 0rem;
	display: block;
	width: 1rem;
	height: 1rem;
	content: '';
	background: no-repeat 50%/50% 50%;
}

.custom-control-inline.escala.p29 {
	display: inline-flex;
	margin-right: 0.55rem;
}

.custom-control-input.is-invalid ~ .custom-control-label::before,
.was-validated .custom-control-input:invalid ~ .custom-control-label::before {
	border-color: gray;
}

.custom-control-input.is-invalid ~ .custom-control-label::before,
.was-validated .custom-control-input:invalid ~ .custom-control-label::before {
	border-color: gray;
}
.custom-control-input.is-invalid ~ .custom-control-label,
.was-validated .custom-control-input:invalid ~ .custom-control-label {
	color: gray;
}

.custom-control-input.is-valid ~ .custom-control-label,
.was-validated .custom-control-input:valid ~ .custom-control-label {
	color: #0069d9;
}

.custom-control-input.is-valid:checked ~ .custom-control-label::before,
.was-validated
	.custom-control-input:valid:checked
	~ .custom-control-label::before {
	border-color: #0069d9;
	background-color: #0069d9;
}

.custom-control-input.is-valid ~ .custom-control-label::before,
.was-validated .custom-control-input:valid ~ .custom-control-label::before {
	border-color: #0069d9;
}
